/*-------------------------------------------------------------
*               Wordpress Customization
*-------------------------------------------------------------*/
body {
    background: #fff;
}
/* 
#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {
    background-color: #fff;
    box-shadow: 0px 5px 30px rgba(140, 152, 164, 0.18);
}
#wpadminbar {
    background: #fff;
}
#wpadminbar .ab-empty-item, #wpadminbar a.ab-item, #wpadminbar>#wp-toolbar span.ab-label, #wpadminbar>#wp-toolbar span.noticon {
    color: #333;
}
#adminmenu a {
    color: #333;
}
#adminmenu div.wp-menu-image:before {
    color: rgba(0, 0, 0, 0.6);
} */
.welcome-panel {
    border: none;
    box-shadow: 0px 5px 30px rgba(140, 152, 164, 0.18);
    border-radius: 5px;
}
.postbox {
    border: none;
    box-shadow: 0px 5px 30px rgba(140, 152, 164, 0.18);
    border-radius: 5px;
}
.postbox .hndle, .stuffbox .hndle {
    border-bottom: none;
    background: #dcdada63;
    border-radius: 5px 5px 0 0;
}

#adminmenu .wp-menu-image img {
    padding: 4px 0 0 0 !important;
    height: 22px !important;
}